.primary-button {
  background-color: $black;
  border-radius: 1000px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: $white;
  transition: color 300ms $authenticMotion;
  &.light {
    color: $black;
    background: $white;
  }

  .text-box {
    position: relative;
    padding: 16px 16px 16px 24px;
    align-items: center;
    gap: 16px;
    height: 100%;
    @include bpMedium {
      gap: scaleVal(16);
      padding: scaleVal(24) scaleVal(24) scaleVal(24) scaleVal(32);
    }
    .button-large {
      z-index: 2;
      margin-top: -1px;
      @include bpMedium {
        margin-top: scaleVal(1, null, -1)
      }
    }
    .ripple {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      @include notResizing {
        transition: clip-path 350ms $authenticMotion;
      }
      background: $copperGradient;
      clip-path: circle(12px at calc(100% - 28px) 50%);
      @include bpMedium {
        $scaledVal: scaleVal(12);
        $offset: scaleVal(36);
        clip-path: circle($scaledVal at calc(100% - $offset) 50%);
      }
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 1;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    @include bpMedium {
      width: scaleVal(24);
      height: scaleVal(24);
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: white;
      border-radius: 50%;
      z-index: 1;
      transform: scale(0);
      transition: transform 300ms $authenticMotion;
    }
    svg {
      position: relative;
      z-index: 2;
      color: $white;
      width: 10px;
      height: 10px;
      @include bpMedium {
        height: scaleVal(10);
        width: scaleVal(10);
      }
      transition: color 300ms $authenticMotion;
    }
  }

  @include onHover {
    color: $black;
    .primary-button__arrow {
      svg {
        color: $black;
      }
      &::after {
        transform: scale(1);
      }
    }
    .ripple {
      width: 100%;
      clip-path: circle(calc(150% - 34px) at calc(100% - 34px) 50%);
    }
  }
}
