.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms $authenticMotion;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms $authenticMotion;
}

.lx {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    width: 110%;
    height: 110%;
    object-fit: cover;
  }
}

.ap-parent {
  backface-visibility: hidden;
  span.ap-child {
    display: inline-flex;
  }
  .ap-child {
    opacity: 0;
    will-change: transform;
    &:not(.ap-fade) {
      transform: translate3d(0, 30px, 0px);
    }
    &.ap-scale {
      transform: translate3d(0, 0, 0px) scale(0);
    }
  }
  &:not(.has-appeared) {
    .ap-child {
      transition: transform 600ms $authenticMotion, opacity 600ms $authenticMotion;
      &.ap-fade { transition: opacity 600ms $authenticMotion; }
      &.ap-scale { transition: transform 600ms $authenticMotion; }
      @for $i from 1 through 20 {
        &.ap-child--#{$i} {
          transition-delay: #{85ms * $i};
        }
      }
      @for $i from 1 through 10 {
        &.ap-delay--#{$i} {
          transition-delay: #{250ms * $i};
        }
      }
    }
  }
  &.appear {
    .ap-child {
      opacity: 1;
      &:not(.ap-fade) {
        transform: translate3d(0px, 0px, 0px);
      }
      &.ap-scale {
        transform: translate3d(0, 0, 0px) scale(1);
      }
    }
  }
}